.postform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red
}

.postform-container input {
  display: flex;
  flex-direction: column;
  margin: auto;
}
