#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 45px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#login-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

#login-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  row-gap: 15px;
}

#login-submit-button {
  font-size: 12px;
  padding: 5px 14px;
  background-color: #333336;;
  border: 1px solid #333336;
  color: white;
}

#login-demo-button {
  font-size: 12px;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #333336;
  color: #333336;
  width: 140px;
}

#login-submit-button:hover {
  cursor: pointer;
  background-color: #58585c;
  border: 1px solid #58585c;
}

#login-demo-button:hover {
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}
