.rhap_container {
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #2b2b2b9c;
  border-radius: 4px;
  padding: 20px;
}

.rhap_main-controls-button svg {
  color: #212121be;
}
.rhap_progress-filled {
  background-color: #2b2b2bbe;
}

.rhap_progress-indicator {
  background-color: rgb(76, 76, 76);
}

.rhap_button-clear.rhap_volume-button {
  color: #2b2b2bbe;
}

.rhap_volume-bar {
  background-color: #abababbe;
}

.rhap_volume-indicator {
  background-color: rgb(76, 76, 76);
}

.rhap_repeat-button {
  color: #2b2b2bbe;
}

#onepost-image {
  width: 750px;
  height: 540px;
  object-fit: contain;
  margin-top: 21.8px;
  margin-bottom: 26px;
}

.rhap_button-clear.rhap_skip-button {
  display: none;
}

.onepost-container {
  position: relative;
  margin-bottom: 25vh;
}

.onepost-mediacontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 600px;
  height: 760px;
  margin: auto;
  margin-bottom: 30px;
}

.onepost-mediacontainer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100vw;
  height: 77.4%;
  background-color: #212124fc;
  z-index: -1;
  transform: translateX(-50%);
}

.onespot-songinfo {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}

#onepost-detailscontainer {
  margin: auto;
  position: relative;
  margin-top: 20px;
  width: 680px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 100px;
  border-top: 1px solid rgb(93, 93, 93);
}

#onepost-creatorinfo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 32px;
}

#onepost-creatorinfo p {
  margin: 0;
}

#onepost-creator {
  font-weight: bold;
}

#onepost-creator:hover {
  cursor: pointer;
}

#onepost-caption {
  font-size: 14px;
}

#creator-follow-container {
  display: flex;
  column-gap: 12px;
}

#onepost-caption-container {
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.onespot-previous {
  position: absolute;
  font-size: 30px;
  top: 37.5%;
  left: -130px;
  color: rgba(233, 233, 233, 0.898);
}

.onespot-next {
  position: absolute;
  font-size: 30px;
  top: 37.5%;
  right: -130px;
  color: rgba(233, 233, 233, 0.898);
}

.onespot-next:hover, .onespot-previous:hover {
  cursor: pointer;
}

.onepost-returnhome {
  position: absolute;
  left: -150px;
  color: black;
}

.defaultuser-image {
  width: 44px;
  height: 44px;
}

.defaultuser-image:hover {
  cursor: pointer;
}

#onepost-poststats-container {
  position: absolute;
  right: 0px;
  display: flex;
  column-gap: 16px;
  font-size: 14px;
}

.poststats-icons{
  display: flex;
  column-gap: 4px;
}

.poststats-commentcount {
  font-weight: 500;
}

#onepost-postdate-container {
  position: absolute;
  right: 0px;
  top: 50px;
  font-size: 11px;
}

.onepost-postdate {
  margin: 0px;
  color: rgb(97, 97, 97)
}

#follow-button {
  font-size: 11px;
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
}

#follow-button:hover {
  cursor: pointer;
  background-color: #464646;
}

.onepost-playlisticon {
  position: absolute;
  top: -12px;
  right: 32px;
}

.onepost-creatorimage {
  border-radius: 50%;
}
