#onepost-image {
  width: 690px;
  height: 560px;
  object-fit: contain
}

.rhap_button-clear.rhap_skip-button {
  display: none;
}

.onepost-container {
  position: relative;
  margin-top: 90px;
}

.onepost-mediacontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 600px;
  margin: auto;
}

.onespot-songinfo {
  margin: 0;
}

.onepost-detailscontainer {
  margin: auto;
  width: 600px;
}

.onespot-previous {
  position: absolute;
  font-size: 30px;
  top: 38%;
  left: -96px;
}

.onespot-next {
  position: absolute;
  font-size: 30px;
  top: 38%;
  right: -96px;
}

.onespot-next:hover, .onespot-previous:hover {
  cursor: pointer;
}

.onepost-returnhome {
  position: absolute;
  left: -150px;
  color: black;
}
