#allpost-container {
  position: relative;
}

.allpost-image {
  max-width: 90%;
  display: block;
  /* max-height: 100%; */
  object-fit: cover;
  grid-row: 1 / -1;
  grid-column: 1;
}

.figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

.user-managepost-buttons {
  position: absolute;
  display: none;
  top: 5%;
  left: 60%;
}

.user-managepost-buttons button {
  margin-left: 6px;
}

#allpost-container:hover .user-managepost-buttons {
  display: block
}
