#allplaylist-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin: 45px auto;
  display: grid;
  width: fit-content;
  column-gap: 50px;
  row-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-content: center;
}

.playlistpage-manage {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.allplaylist-image {
  width: 340px;
  height: 320px;
  object-fit: cover;
}

.remove-playlist {
  z-index: 1201;
  /* position: absolute;
  right: 100px;
  top: 80px; */
}
