* {
  font-family: 'Inter', sans-serif;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#nav-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

#nav-search {
  margin-left: 122px;
}

#nav-logo {
  /* display: flex;
  margin-top: 20px; */
}

.logo-rishy {
  width: 104px;
  height: 60px;
}

#nav-topright {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-right: 200px;
}

#nav-profiledropdown-container {
  position: relative;
  z-index: 15;
}

#nav-loginsignup-container {
  border: 1px solid rgb(153, 153, 153);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px 14px;
  position: absolute;
  left: -80px;
}
