#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 34px 34px;
  width: 400px;
}

#signup-email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#signup-firstname-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#signup-lastname-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#signup-username-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#signup-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#signup-confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup-submit-button {
  margin-top: 25px;
}

#error-text {
  color: red;
  font-size: 12px;
}
